<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%-5p [%t] %c{1} - %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="../logs/nemp.log" filePattern="../logs/nemp_%i.log" immediateFlush="false">
			<PatternLayout pattern="%-5p [%t] %c - %m%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</RollingFile>
	</appenders>

	<loggers>
		<root level="debug">
			<!-- <appender-ref ref="RollingFile" /> -->
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>